CFIProjectUWP/Service References/DBServiceRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1988/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CFIWCFServiceLiabrary.Model" />
  <xs:element name="GetValidSubject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CFIWCFServiceLiabrary.Model" minOccurs="0" name="GetValidSubjectResult" nillable="true" type="q1:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CFIWCFServiceLiabrary.Model" minOccurs="0" name="subject" nillable="true" type="q2:Subject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CFIWCFServiceLiabrary.Model" minOccurs="0" name="GetSubjectDetailsResult" nillable="true" type="q3:ArrayOfSubjectDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>