CFIProjectUWP/Service References/DBServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CFIWCFServiceLiabrary.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CFIWCFServiceLiabrary.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubject" nillable="true" type="tns:ArrayOfSubject" />
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject" nillable="true" type="tns:Subject" />
  <xs:complexType name="ArrayOfSubjectDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubjectDetail" nillable="true" type="tns:SubjectDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubjectDetail" nillable="true" type="tns:ArrayOfSubjectDetail" />
  <xs:complexType name="SubjectDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Campus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompetencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DayOfWeek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lecturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubjectDetail" nillable="true" type="tns:SubjectDetail" />
</xs:schema>